workflows/DEBUG-process-only.json
{
  "name": "DEBUG - Process Only",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-debug",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/1c868fa9-6b04-811a-b439-da9ae42cf538/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type", 
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "jsonBody": "{\n  \"filter\": {\n    \"and\": [\n      {\n        \"property\": \"Status\",\n        \"select\": {\n          \"equals\": \"Agendado\"\n        }\n      },\n      {\n        \"property\": \"Publicar?\",\n        \"checkbox\": {\n          \"equals\": true\n        }\n      },\n      {\n        \"property\": \"Plataforma\",\n        \"multi_select\": {\n          \"contains\": \"Instagram\"\n        }\n      }\n    ]\n  },\n  \"page_size\": 5\n}",
        "options": {}
      },
      "id": "notion-query-debug",
      "name": "Query Notion Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "notion_http_auth",
          "name": "Notion HTTP Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// DEBUG SIMPLES - Só ver o que está chegando\nconst items = $input.all();\n\nconsole.log('🔍 === DEBUG TOTAL ===');\nconsole.log('Número de items:', items.length);\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  console.log(`\\n--- ITEM ${i + 1} ---`);\n  console.log('Tipo:', typeof item.json);\n  console.log('Estrutura:', Object.keys(item.json));\n  \n  if (item.json.results) {\n    console.log('📄 Páginas encontradas:', item.json.results.length);\n    \n    item.json.results.forEach((page, idx) => {\n      console.log(`\\n🔸 Página ${idx + 1}:`);\n      console.log('  ID:', page.id);\n      console.log('  Propriedades disponíveis:', Object.keys(page.properties || {}));\n      \n      // Verificar campos específicos\n      const nome = page.properties?.Nome?.title?.[0]?.text?.content;\n      const status = page.properties?.Status?.select?.name;\n      const publicar = page.properties?.['Publicar?']?.checkbox;\n      const plataforma = page.properties?.Plataforma?.multi_select;\n      \n      console.log('  Nome:', nome);\n      console.log('  Status:', status);\n      console.log('  Publicar?:', publicar);\n      console.log('  Plataforma:', plataforma?.map(p => p.name));\n    });\n  } else {\n    console.log('❌ NÃO TEM RESULTS!');\n    console.log('Dados:', JSON.stringify(item.json, null, 2));\n  }\n}\n\nreturn items;"
      },
      "id": "debug-process",
      "name": "DEBUG Process",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Query Notion Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Notion Posts": {
      "main": [
        [
          {
            "node": "DEBUG Process",
            "type": "main", 
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "debug-1.0.0",
  "id": "debug-process-only",
  "meta": {
    "instanceId": "debug-process-only"
  }
}
