workflows/postflow-instagram-manual.json
{
  "name": "PostFlow Instagram - MANUAL TRIGGER",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-main",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/1c868fa9-6b04-811a-b439-da9ae42cf538/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type", 
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "jsonBody": "={{ JSON.stringify({\n  \"filter\": {\n    \"and\": [\n      {\n        \"property\": \"Status\",\n        \"select\": {\n          \"equals\": \"Agendado\"\n        }\n      },\n      {\n        \"property\": \"Publicar?\",\n        \"checkbox\": {\n          \"equals\": true\n        }\n      },\n      {\n        \"property\": \"Data do Agendamento\",\n        \"date\": {\n          \"on_or_before\": new Date().toISOString().split('T')[0]\n        }\n      }\n    ]\n  }\n}) }}",
        "options": {}
      },
      "id": "notion-query-manual",
      "name": "Query Notion Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300],
      "credentials": {
        "httpBearerAuth": {
          "id": "notion_bearer_auth",
          "name": "Notion Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// PostFlow Manual - Process Instagram posts from Notion HTTP Response\nconst items = $input.all();\nconst readyPosts = [];\n\nconsole.log(`Processing ${items.length} items from HTTP Request`);\n\nfor (const item of items) {\n  const responseData = item.json;\n  console.log('Full HTTP Response:', JSON.stringify(responseData, null, 2));\n  \n  // Get results from Notion API response\n  const notionPages = responseData.results || [];\n  console.log(`Found ${notionPages.length} pages in Notion response`);\n  \n  for (const data of notionPages) {\n    console.log('Processing page:', JSON.stringify(data, null, 2));\n    \n    // Check if post is for Instagram\n    const platforms = data.properties.Plataforma?.multi_select || [];\n    console.log('Platforms found:', platforms);\n    const hasInstagram = platforms.some(p => p.name === 'Instagram');\n    \n    if (!hasInstagram) {\n      console.log('Skipping - no Instagram platform');\n      continue;\n    }\n    \n    // Extract post data\n    const postTitle = data.properties.Nome?.title?.[0]?.text?.content || 'Untitled Post';\n    const postText = data.properties['Texto do Post']?.rich_text?.[0]?.text?.content || '';\n    const hashtags = data.properties.Hashtags?.multi_select?.map(tag => tag.name.startsWith('#') ? tag.name : `#${tag.name}`).join(' ') || '';\n    const media = data.properties.Mídia?.files?.[0];\n    \n    console.log('Post title:', postTitle);\n    console.log('Media found:', media);\n    \n    if (!media) {\n      console.log(`Post \"${postTitle}\" has no media`);\n      continue;\n    }\n    \n    const mediaUrl = media.external?.url || media.file?.url;\n    console.log('Media URL:', mediaUrl);\n    \n    // Build caption\n    const caption = postText + (hashtags ? '\\n\\n' + hashtags : '');\n    \n    readyPosts.push({\n      notion_page_id: data.id,\n      post_title: postTitle,\n      caption: caption,\n      media_url: mediaUrl\n    });\n  }\n}\n\nconsole.log(`Found ${readyPosts.length} posts ready for Instagram`);\nreturn readyPosts.map(post => ({ json: post }));"
      },
      "id": "process-posts-manual",
      "name": "Process Instagram Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/17841468923069540/media",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $json.media_url }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.caption }}"
            },
            {
              "name": "access_token",
              "value": "EAAgHDLKanTYBPW9BZChikiNEBEhmQw7ZB6cPF61pFKLC4KIsK0fG4CjtrqEdT7WYI33XFWKCu6hJtHZADYkINxaI6gDzSbKxIWusZBcCqHQDHRgoI9JYQZAggPloJfYaTu7FyNoSyXaC1NC3L5oRBkBZCZAUCzfYIUOMFogmFw92e8WqDmEdlmnqLFMI0nskdbR6lcN1oyeF6jpX5Xpt7TuJfqh84chpGAlIW2ze7XXzkHcMYmO4NtWtJ4sIwQZD"
            }
          ]
        },
        "options": {}
      },
      "id": "create-media-manual",
      "name": "Create Instagram Media",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST", 
        "url": "https://graph.facebook.com/v18.0/17841468923069540/media_publish",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "access_token",
              "value": "EAAgHDLKanTYBPW9BZChikiNEBEhmQw7ZB6cPF61pFKLC4KIsK0fG4CjtrqEdT7WYI33XFWKCu6hJtHZADYkINxaI6gDzSbKxIWusZBcCqHQDHRgoI9JYQZAggPloJfYaTu7FyNoSyXaC1NC3L5oRBkBZCZAUCzfYIUOMFogmFw92e8WqDmEdlmnqLFMI0nskdbR6lcN1oyeF6jpX5Xpt7TuJfqh84chpGAlIW2ze7XXzkHcMYmO4NtWtJ4sIwQZD"
            }
          ]
        },
        "options": {}
      },
      "id": "publish-manual",
      "name": "Publish Instagram Post",
      "type": "n8n-nodes-base.httpRequest", 
      "typeVersion": 4.1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": "={{ $('Process Instagram Posts').item.json.notion_page_id }}",
        "simple": false,
        "properties": {
          "properties": [
            {
              "key": "Status",
              "type": "select",
              "select": "Publicado"
            },
            {
              "key": "Publicar?",
              "type": "checkbox",
              "checkbox": false
            }
          ]
        }
      },
      "id": "update-notion-manual",
      "name": "Update Notion Status",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [1340, 300],
      "credentials": {
        "notionApi": {
          "id": "notion_credentials",
          "name": "Notion API"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Query Notion Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Notion Posts": {
      "main": [
        [
          {
            "node": "Process Instagram Posts",
            "type": "main", 
            "index": 0
          }
        ]
      ]
    },
    "Process Instagram Posts": {
      "main": [
        [
          {
            "node": "Create Instagram Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Instagram Media": {
      "main": [
        [
          {
            "node": "Publish Instagram Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Instagram Post": {
      "main": [
        [
          {
            "node": "Update Notion Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.0.0",
  "id": "postflow-instagram-manual",
  "meta": {
    "instanceId": "postflow-instagram-manual-v1"
  }
}
